<!-- start footer Area -->
<footer class="footer-area section-gap">
    <div class="container box_1170">
        <div class="row">
            {{> "footer-widgets/about"}}
            {{> "footer-widgets/insta"}}
            {{> "footer-widgets/social-links"}}
            {{> "footer-widgets/subscribe"}}
        </div>
        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-lg-12 footer-text text-center">
                {{{t "© Copyright 2020 bounty. Published with {website}" website="<a target=\"_blank\" href=\"https://electronthemes.com/\">Electronthemes</a>"}}}
            </p>
        </div>
    </div>
</footer>
<!-- End footer Area -->