<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="single-footer-widget">
        <h6 class="footer_title">About Us</h6>
        {{#if @custom.about_site_footer}}
        <p>{{@custom.about_site_footer}}</p>
        {{/if}}
    </div>
</div>