<div class="col-lg-3 col-md-6 col-sm-6">
    <div class="single-footer-widget">
        <h6 class="footer_title">Other Links</h6>
        <div class="footer-menu">
            {{navigation type="secondary"}}
        </div>
    </div>
</div>