@import url('https://fonts.googleapis.com/css?family=Roboto:400,500|Rubik:500');
@import 'bootstrap/functions';
@import 'bootstrap/variables';

//
// Grid mixins
//

@import 'bootstrap/mixins/breakpoints';

// including variables and mixins
@import 'theme/variables';
@import 'theme/mixins';
@import 'theme/flexbox';
@import 'theme/reset';
@import 'theme/predefined';

// Custom Scss
@import 'theme/elements';
@import 'theme/header';
@import 'theme/home';
@import 'theme/pages';
@import 'theme/footer';
@import 'theme/bookmark';
@import 'theme/prism';

img {
    max-width: 100%;
}

.has-feature-image {
    color: #fff;
    .title {
        color: #fff;
    }
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(#000000, 0.2);
        top: 0;
        left: 0;
        z-index: 1;
    }
}

.tag-details,
.author-details {
    background: $offwhite;
    padding: 20px;
    margin-bottom: 30px;

    .title {
        padding: 22px 0;
        z-index: 10;
        position: relative;
        color: $primary-color;
    }
    .desc {
        position: relative;
        z-index: 10;
    }
    .social-links {
        a {
            margin: 0 8px;
            font-size: 15px;
            color: #415094;
            &:hover {
                color: $primary-color;
            }
        }
    }
}

.pagination-link {
    margin: 0 12px;
    color: $primary-color;
    transition: .4s;
    &:hover{
        color: #c738d8;
    }
}
.author-image {
    width: 85px;
    margin-right: 20px;
    height: auto;
}

/* Preventing full-width image overlap with post image.  */
.single-post-area {
    overflow: hidden;
}

/* Gallery post */
.kg-gallery-container {
    display: flex;
    flex-direction: column;
}

.kg-gallery-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.kg-gallery-row {
    .kg-gallery-image {
        flex: 1 1 200px;
        text-align: center;
        margin: 8px 4px 0;
    }
}

.kg-gallery-row .kg-gallery-image img {
    height: 100% !important;
}


.kg-card figcaption {
    padding: 10px 20px;
    text-align: center;
    color: $text-color;
    font-size: 16px;
    background-color: $offwhite;
    width: 100%;
    a {
        font-size: 14px;
        border-bottom: 0;
        color: $title-color;
    }
}

figcaption {
    padding: 10px 20px;
    text-align: center;
    color: $text-color;
    font-size: 16px;
    background-color: $offwhite;
    width: 100%;
    a {
        font-size: 14px;
        border-bottom: 0;
        color: $title-color;
    }
}

.kg-embed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}

.kg-gallery-card {
    max-width: calc(100% + 198px);
    min-width: 100%;
    width: 100vw;
    padding: 0px;

    img {
        margin: 0;
    }
}

figure.kg-card {
    margin-top: 30px;

    img {
        margin-bottom: 0;
    }
}

.kg-image-card {
    width: 100vw;
    max-width: 100%;
    min-width: 100%;

    &.kg-width-wide {
        max-width: 70vw;
        width: 100vw;
    }

    &.kg-width-full {
        max-width: calc(100vw - 17px);
        width: 100vw;
    }
}

.medium-zoom-image {
    z-index: 6;
}

@media all and (max-width: 575px) {
    .kg-gallery-row {
        margin: 0;

        .kg-gallery-image {
            flex: 1 1 calc(50% - 8px)!important;
            padding-left: 0;
            padding-right: 0;
        }
    }
}
/* Gallery post */


@media all and (max-width: 960px) {
    #mobile-nav-toggle {
        z-index:22;
    }
    .header-top{
        &.sticky-header {
            position: fixed;
            width: 100%;
            height: 80px;
            background-color: #ffffff;
            top: 0;
            left: 0;
            z-index: 11;
        }
    }
    .details {
        padding-right: 30px;
    }
    .single-post-carousel {
        height: 380px;
    }

    .about-content {
        margin-top: 0px;
        padding: 100px 0px;
    }
}
@media all and (max-width: 767px) {
    .main_blog_details {
        .kg-image-card.kg-width-wide,
        .kg-gallery-card {
            margin-left: -50vw;
            margin-right: -50vw;
            max-width: 100vw;
        }
    }
    .about-content {
        margin-top: 0px;
        padding: 80px 0px;
    }

    .about-content h1 {
        font-size: 26px;
    }
    .main_blog_details h1,h2{
        font-size: 28px;
    }
}

@media all and (max-width: 575px) {
    .kg-gallery-row {
        margin: 0;
        .kg-gallery-image {
            flex: 1 1 100% !important;
            padding-left: 0;
            padding-right: 0;
        }
    }
    .main_blog_details h1,h2{
        font-size: 26px;
    }
}
